body {
    background-color: black;
    color: blue;
    margin: 0%;
    width:0%;
    display: block ;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 0px 50px;
}
.center {
    text-align: center;
}
